body{
    background-color: darkcyan;
}

#piano{
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border: 0.5vmin solid black;
    width:98vmin;
    height:33vmin;
}

.whiteNote{
    background-color: white;
    border-right: 0.1vmin solid black;
    box-sizing: border-box;
    height:100%;
    width:7vmin;
    float: left;
}

.blackNote{
    background-color: #777;
    height:65%;
    width:3.5vmin;
    transform: translateX(5.5vmin);
}